<div id="<%= dom_id job %>">
  <p>
    <strong>Position:</strong>
    <%= job.position %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= job.salary %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

</div>
